﻿<section>
    <h1 data-bind="text: displayName"></h1>
    <form class="form-inline" role="form">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="name" data-bind="value: name, valueUpdate: 'afterkeydown'">
        </div>
        <button type="submit" class="btn btn-default" data-bind="click: sayHello, enable: canSayHello">Click Me</button>
    </form>


    <div class="whiteRow">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div data-bind="compose: { model: test }"></div>
                </div>
            </div>
        </div>
    </div>

</section>

